version: '3.9'

services:
  web:
    build: .
    container_name: django_web
    command: gunicorn transatioional_webhook.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  celery:
    build: .
    container_name: django_celery
    command: celery -A transatioional_webhook worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    container_name: redis_server
    ports:
      - "6379:6379"
